# Build output
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.db
*.cache
*.VC.db
*.VC.opendb

# Build folders
x64/
x86/
Debug/
Release/
ipch/
out/
bin/
build/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# VS IDE
.vs/

# Temporary files
*.tmp
*.bak
*.ncb
*.sbr
*.class

# OS files
.DS_Store
Thumbs.db
desktop.ini
